// Цвета
$basic-white: #ffffff;
$basic-grey: #f2f2f2;
$basic-text-color: #444444;
$basic-text-color-2: #222222;
$basic-black: #000000;
$accent-color: #68b738;
$live-example-color: #eaeaea;
$text-grey: #111111;
// Шрифты
$font-first: "Oswald", arial, sans-serif;
$font-second: "Lato", arial, sans-serif;
// Экраны устройств
$tablet-width: 768px;
$desktop-width: 1440px;
