.catalog__title {
  color: $basic-black;
}

.catalog__link {
  text-decoration: none;
}

.catalog__link-title {
  font-family: $font-first;
  color: $basic-text-color-2;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
