.contacts__cooperation {
  font-family: $font-first;
  font-size: 16px;
  line-height: 20px;
  color: $text-grey;
  text-transform: uppercase;
}

.contacts__address {
  span {
    line-height: 20px;
  }
}
