.footer {
  background-color: $basic-gray;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__wrap {
  @include wrapper-mobile();

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  margin-bottom: 20px;

  img {
    transition: opacity 0.5s ease;
  }

  &:hover {
    img {
      opacity: 0.8;
      transition: opacity 0.6s ease;
    }
  }

  &:active,
  &:focus {
    img {
      opacity: 0.6;
      transition: all 0s;
    }
  }
}

.footer__brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer__brand-logo {
  path {
    transition: all 0.5s ease;
  }

  &:hover {
    path {
      fill: $accent-color;
      transition: all 0.5s ease;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__brand-logo-text {
  &:hover + .footer__brand-logo {
    path {
      fill: $accent-color;
      transition: all 0.5s ease;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__brand:has(.footer__brand-logo-text:active) {
  .footer__brand-logo {
    opacity: 0.3;
  }
}

.footer__brand:has(.footer__brand-logo:active) {
  .footer__brand-logo-text {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    padding-top: 60px;
    padding-bottom: 55px;
  }

  .footer__wrap {
    @include wrapper-tablet();
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__logo {
    margin-bottom: 0;
    flex-shrink: 0;
  }

  .footer__brand {
    flex-shrink: 0;
    width: 161px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding-top: 68px;
    padding-bottom: 66px;
  }

  .footer__wrap {
    @include wrapper-desktop();
  }
}
