.form {
  label,
  input,
  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    font-family: $font-first;
    text-transform: uppercase;
  }

  input::placeholder {
    color: $basic-text-color;
  }
}

.form__title-wrap {
  @include wrapper-mobile();
}

.form__title {
  color: $basic-black;
  margin-bottom: 38px;
}

.form__description {
  font-family: $font-first;
  color: $basic-black;
  text-transform: uppercase;
  margin-bottom: 39px;
}

.form__about-client-wrap {
  @include wrapper-mobile();

  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.form__client-information {
  margin-bottom: 26px;
}

.form__client-name,
.form__client-weight,
.form__client-age {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 13px;

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  input {
    border: 1px solid $input-broder-color;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
    flex-grow: 1;

    &:focus {
      outline: 2px solid $input-focus-color;

      &:hover {
        border-color: $input-focus-color;
      }
    }
  }

  &:hover {
    input {
      border-color: $light-gray;
    }
  }
}

.form__choice-program {
  padding-top: 22px;
  padding-bottom: 18px;
  border-top: 1px solid $border-offer-color;
  border-bottom: 1px solid $border-offer-color;
}

.form__choice-program-wrap {
  @include wrapper-mobile();
}

.form__input-choice {
  & + label {
    position: relative;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 45px;
    display: inline-block;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid $light-gray;
    }

    &:hover {
      &::before {
        border: 1px solid $radio-button-hover-color;
      }
    }
  }

  &:checked + label {
    &::before {
      box-shadow: inset 0 0 0 7px $basic-white, inset 0 0 0 15px $accent-color;
    }
  }

  &:disabled {
    & + label {
      opacity: 0.3;
      cursor: default;
    }
  }
}

.form__choice-1,
.form__choice-2 {
  label {
    margin-bottom: 13px;
  }
}

.form__contacts-data-wrap {
  @include wrapper-mobile();
}

.form__contacts-title,
.form__comment-title,
.form__additionally-title {
  font-family: $font-first;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
  font-weight: 400;
}

.form__contacts-title {
  position: relative;
  margin-bottom: 34px;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: calc(-100vw - 20px);
    width: 100vw;
    height: 2px;
    background-color: $accent-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    right: calc(-100vw - 20px);
    width: 100vw;
    height: 2px;
    background-color: $accent-color;
  }
}

.form__button {
  border: none;

  &:focus {
    background-color: $accent-color-hover;
  }
}

.form__input-email:has(.form__email:focus) {
  &::after {
    background-color: $accent-color;
  }
}

.form__input-phone:has(.form__phone:focus) {
  &::after {
    background-color: $accent-color;
  }
}

.form__email,
.form__phone {
  padding: 13px 15px 13px;
  border: 1px solid $input-broder-color;
  flex-grow: 1;

  &:hover {
    border-color: $light-gray;
  }

  &:focus {
    outline: 2px solid $input-focus-color;

    &:hover {
      border-color: $input-focus-color;
    }
  }
}

.form__input-email,
.form__input-phone {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 13px;

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 12px;
    width: 20px;
    height: 20px;
    background-color: $basic-black;
  }
}

.form__input-email {
  margin-bottom: 14px;

  &::after {
    mask-image: url("../../images/icons/stack.svg#email");
  }
}

.form__input-phone {
  &::after {
    mask-image: url("../../images/icons/stack.svg#phone");
  }
}

.form__contacts-data {
  margin-bottom: 24px;
}

.form__comment-wrap {
  @include wrapper-mobile();

  margin-bottom: 23px;
}

.form__comment-title {
  position: relative;
  margin-bottom: 38px;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: calc(-100vw - 20px);
    width: 100vw;
    height: 2px;
    background-color: $accent-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    right: calc(-100vw - 20px);
    width: 100vw;
    height: 2px;
    background-color: $accent-color;
  }
}

.form__comment-textarea {
  display: flex;
  border: 1px solid $input-broder-color;

  textarea {
    flex-grow: 1;
    font-family: $font-first;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    height: 148px;
    padding-top: 14px;
    padding-left: 15px;

    &:focus {
      outline: 2px solid $input-focus-color;
    }
  }
}

.form__additionally-wrap {
  @include wrapper-mobile();

  margin-bottom: 35px;
}

.form__additionally-title {
  position: relative;
  margin-bottom: 34px;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: calc(-100vw - 20px);
    width: 100vw;
    height: 2px;
    background-color: $accent-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    right: calc(-100vw - 40px);
    width: 100vw;
    height: 2px;
    background-color: $accent-color;
  }
}

.form__additionally-1,
.form__additionally-2,
.form__additionally-3 {
  margin-bottom: 12px;
}

.form__input-additionally {
  & + label {
    position: relative;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 45px;
    display: inline-block;

    &::before {
      content: "";
      position: absolute;
      top: 1px;
      left: 0;
      width: 28px;
      height: 28px;
      border: 1px solid $light-gray;
    }

    &:hover {
      &::before {
        border-color: $radio-button-hover-color;
      }
    }

    &:focus {
      &::before {
        outline: none;
        border-color: $basic-black;
      }
    }
  }

  &:checked + label {
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      left: 5px;
      width: 18px;
      height: 14px;
      background-image: url("../../images/icons/stack.svg#check");
      background-repeat: no-repeat;
    }
  }

  &:disabled {
    & + label {
      opacity: 0.3;
      cursor: default;
    }
  }
}

.form__button-wrap {
  @include wrapper-mobile();
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
}

@media (min-width: $tablet-width) {
  .form {
    label,
    input,
    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .form__title-wrap {
    @include wrapper-tablet-form();
  }

  .form__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  .form__description {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }

  .form__about-client-wrap {
    @include wrapper-tablet-form();

    margin-bottom: 72px;
  }

  .form__client-information {
    margin-bottom: 65px;
  }

  .form__client-name,
  .form__client-weight,
  .form__client-age {
    &:not(:last-child) {
      margin-bottom: 19px;
    }

    input {
      border: 1px solid $input-broder-color;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  }

  .form__choice-program {
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    border-bottom: none;
  }

  .form__choice-program-container {
    @include wrapper-tablet-form();
  }

  .form__choice-program-wrap {
    padding-top: 23px;
    padding-bottom: 27px;
    padding-left: 27px;
    border: 1px solid $input-broder-color;
  }

  .form__input-choice {
    & + label {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 60px;

      &::before {
        width: 40px;
        height: 40px;
      }
    }

    &:checked + label {
      &::before {
        box-shadow: inset 0 0 0 10px $basic-white, inset 0 0 0 20px $accent-color;
      }
    }
  }

  .form__contacts-data-wrap {
    @include wrapper-tablet-form();
  }

  .form__contacts-title,
  .form__comment-title,
  .form__additionally-title {
    font-size: 36px;
    line-height: 36px;
  }

  .form__contacts-title {
    margin-bottom: 74px;

    br {
      display: none;
    }

    &::before {
      top: 20px;
      left: calc(-100vw - 40px);
    }

    &::after {
      top: 20px;
      right: calc(-100vw - 40px);
    }
  }

  .form__input-email,
  .form__input-phone {
    &::after {
      top: 16px;
      right: 16px;
    }
  }

  .form__input-email {
    margin-bottom: 20px;
  }

  .form__email,
  .form__phone {
    padding: 11px 16px 10px 20px;
  }

  .form__contacts-data {
    margin-bottom: 65px;
  }

  .form__comment-wrap {
    @include wrapper-tablet-form();

    margin-bottom: 65px;
  }

  .form__comment-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 87px;

    &::before {
      top: 20px;
      left: calc(-100vw - 40px);
    }

    &::after {
      top: 20px;
      right: calc(-100vw - 40px);
    }
  }

  .form__comment-textarea {
    textarea {
      font-size: 20px;
      line-height: 30px;
      height: 173px;
      padding-top: 11px;
      padding-left: 20px;
      resize: none;
    }
  }

  .form__additionally-wrap {
    @include wrapper-tablet-form();

    margin-bottom: 52px;
  }

  .form__additionally-title {
    margin-bottom: 57px;

    &::before {
      top: 20px;
      left: calc(-100vw - 40px);
    }

    &::after {
      top: 20px;
      right: calc(-100vw - 40px);
    }
  }

  .form__additionally-1,
  .form__additionally-2,
  .form__additionally-3 {
    margin-bottom: 0;
  }

  .form__input-additionally {
    & + label {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 60px;
      text-wrap: nowrap;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 39px;
        height: 39px;
      }
    }

    &:checked + label {
      &::after {
        top: 11px;
        left: 8px;
        width: 24px;
        height: 19px;
      }
    }
  }

  .form__additionally-checkboxes {
    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 123px;
    row-gap: 32px;
  }

  .form__button-wrap {
    @include wrapper-tablet-form();
    margin-bottom: 60px;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 60px;
  }

  .form__button {
    min-width: 284px;
  }

  .form__button-label {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form__title-wrap {
    @include wrapper-desktop();
  }

  .form__title {
    margin-bottom: 55px;
  }

  .form__client-information {
    @include wrapper-desktop();

    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-bottom: 70px;
  }

  .form__about-client-wrap {
    padding: 0;
    margin: 0;
    min-width: 0;
    width: 570px;
  }

  .form__client-name,
  .form__client-weight,
  .form__client-age {
    input {
      padding: 11px 20px 10px 20px;
    }
  }

  .form__choice-program {
    flex-grow: 1;
  }

  .form__choice-program-container {
    margin: 0;
    padding: 0;
    min-width: 0;
  }

  .form__choice-program-wrap {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 28px;
  }

  .form__contacts-data-wrap {
    @include wrapper-desktop();

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }

  .form__contacts-title {
    grid-column: 1 / -1;
    margin-bottom: 76px;
  }

  .form__input-email {
    margin-bottom: 0;
  }

  .form__contacts-data {
    margin-bottom: 70px;
  }

  .form__comment-wrap {
    @include wrapper-desktop();

    margin-bottom: 70px;
  }

  .form__comment-title {
    margin-bottom: 78px;
  }

  .form__comment-textarea {
    textarea {
      padding-top: 9px;
    }
  }

  .form__additionally-wrap {
    @include wrapper-desktop();

    margin-bottom: 60px;
  }

  .form__additionally-title {
    &::before {
      top: 23px;
      left: -2040px;
      width: 2000px;
    }

    &::after {
      top: 23px;
      right: -2040px;
      width: 2000px;
    }
  }

  .form__additionally-1 {
    margin-right: 104px;
  }

  .form__additionally-2 {
    margin-right: 136px;
  }

  .form__additionally-3 {
    margin-right: 197px;
  }

  .form__additionally-checkboxes {
    display: flex;
    justify-content: flex-start;
    gap: 0;
  }

  .form__button-wrap {
    @include wrapper-desktop();
    margin-bottom: 79px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .form__button {
    min-width: 0;
  }
}
