.form {
  label,
  input,
  &::placeholder {
    font-family: $font-first;
    text-transform: uppercase;
  }

  input::placeholder {
    color: $basic-text-color;
  }
}

.form__title {
  color: $basic-black;
}

.form__description {
  font-family: $font-first;
  color: $basic-black;
  text-transform: uppercase;
}

.form__contacts-title,
.form__comment-title,
.form__additionally-title {
  font-family: $font-first;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
  font-weight: 400;
}

.form__button {
  border: none;
}

.form__email,
.form__phone {
  padding: 14px 15px 13px;
  border: 1px solid $light-gray;
}

.form__email {
  min-width: 217px;
}

.form__phone {
  min-width: 200px;
}

.form__email-wrap,
.form__phone-wrap {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 15px;
    width: 20px;
    height: 20px;
    background-color: $basic-black;
  }
}

.form__email-wrap {
  &::after {
    mask-image: url("../../images/icons/stack.svg#email");
  }
}

.form__phone-wrap {
  &::after {
    mask-image: url("../../images/icons/stack.svg#phone");
  }
}
