.header__wrap {
  @include wrapper-mobile();
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 15px;
}

.header__nav {
  position: absolute;
  top: 66px;
  width: 100%;
  background-color: $basic-white;
  z-index: 10;

  &--none {
    display: none;
  }

  &--static {
    position: static;
  }
}

.header__toggle {
  position: relative;
  width: 24px;
  height: 18px;
  cursor: pointer;

  &--open {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 2px;
      background-color: $basic-black;
      box-shadow: 0 9px 0 0 $basic-black, 0 18px 0 0 $basic-black;
    }
  }

  &--close {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 25px;
      height: 2px;
      background-color: $basic-black;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &--none {
    display: none;
  }
}

.header__nav-item {
  position: relative;
  border-top: 1px solid $border-menu-color;
  padding-top: 21px;
  padding-bottom: 21px;
  text-align: center;

  a {
    color: $basic-black;
    text-transform: uppercase;
    font-family: $font-first;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
  }

  &:last-child {
    border-bottom: 1px solid $border-menu-color;
  }
}

.header--inner-page {
  border-bottom: 1px solid $border-menu-color;
}

@media (min-width: $tablet-width) {
  .header {
    padding-top: 25px;
  }

  .header__container {
    @include wrapper-tablet();
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__nav {
    position: static;
    display: block;
    width: auto;
    background-color: inherit;
  }

  .header__wrap {
    padding: 0;
    margin: 0;
    min-width: 174px;
  }

  .header__toggle {
    display: none;
  }

  .header__nav-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 441px;
    z-index: 10;
  }

  .header__nav-item {
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
    transition: all 0.3s ease;

    a {
      font-size: 18px;
      line-height: 24px;
    }

    &:hover {
      opacity: 0.6;
      transition: all 0.6s ease;
    }

    &:active {
      opacity: 0.3;
      transition: all 0s;
    }

    &--active {
      &:hover,
      &:active {
        opacity: 1;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: $accent-color;
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .header--inner-page {
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .header {
    position: relative;
    padding-top: 55px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 114px;
      background-color: $accent-color;
      z-index: -2;
      opacity: 0.85;
    }
  }

  .header--inner-page {
    &::before {
      background: none;
    }
  }

  .header__container {
    @include wrapper-desktop();
  }

  .header__nav-list {
    width: 475px;
  }

  .header__nav-item {
    a {
      color: $basic-white;
      font-size: 20px;
    }

    &--active {
      &::before {
        background-color: $basic-white;
      }
    }

    &--inner-page {
      a {
        color: $basic-black;
      }
    }

    &--inner-page-active {
      &::before {
        background-color: $accent-color;
      }
    }
  }
}

