.hero {
  padding-bottom: 20px;
}

.hero__wrap {
  position: relative;
}

.hero__offer {
  position: relative;
  padding-top: 27px;
  padding-bottom: 164px;
  height: 302px;
  text-align: center;
  color: $basic-white;
  background: linear-gradient(#64a73c, #62a53a);
  margin-bottom: 138px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 302px;
    height: 100%;
    background-image: url("../../images/cat-background-mobile@1x.webp");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.hero__title {
  margin-bottom: 25px;
}

.hero__description {
  font-family: $font-first;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.hero__title,
.hero__description {
  position: relative;
  z-index: 2;
}

.hero__img {
  position: absolute;
  top: 167px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 0 auto;
}

.hero__button-wrap {
  @include wrapper-mobile();
}

@media (min-width: $tablet-width) {
  .hero {
    padding-bottom: 526px;
  }

  .hero__wrap {
    @include wrapper-tablet-hero();
  }

  .hero__offer {
    position: relative;
    padding-top: 65px;
    padding-bottom: 0;
    height: auto;
    text-align: left;
    color: $basic-black;
    background: none;
    margin-bottom: 50px;

    &::before {
      display: none;
    }
  }

  .hero__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
  }

  .hero__description {
    font-size: 20px;
    line-height: 20px;
  }

  .hero__img {
    position: absolute;
    top: 266px;
    left: 50%;
    width: 709px;
    height: 606px;
  }

  .button__wrapper {
    padding: 0;
    margin: 0;
  }

  .hero__button-wrap {
    margin: 0;
    padding: 0;
    min-width: 0;
    display: inline-block;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    padding-bottom: 184px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 694px;
      background: #62a53a url("../../images/cat-background-desktop@1x.png") no-repeat;
      z-index: -2;
    }
  }

  .hero__wrap {
    @include wrapper-desktop-hero();
    position: relative;
    margin-bottom: 82px;
  }

  .hero__offer {
    padding-top: 110px;
    margin-bottom: 52px;
  }

  .hero__img {
    position: absolute;
    top: 29px;
    left: 58%;
    width: 552px;
    height: 499px;
  }

  .button__wrapper {
    padding: 0;
    margin: 0;
  }
}

