.page {
  height: 100%;
}

.page__body {
  margin: 0;
  padding: 0;
  font-family: $font-second;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $basic-text-color;
  background-color: $basic-white;
  overflow-x: hidden;

  min-height: 100%;
}
