.promo__wrap {
  background-image: image-set(url("../../images/promo-mobile@1x.webp") type("image/webp") 1x, url("../../images/promo-mobile@2x.webp") type("image/webp") 2x, url("../../images/promo-mobile@1x.png") type("image/png") 1x, url("../../images/promo-mobile@2x.png") type("image/png") 2x);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.promo__container {
  position: relative;
  background-color: rgba(104, 183, 56, 0.85);
  min-height: 290px;

  &::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 78px;
    height: 80px;
    background-image: url("../../images/icons/stack.svg#icon_gift");
  }
}

.promo__block {
  position: relative;
  top: 187px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
}

@media (min-width: $tablet-width) {
  .promo__wrap {
    position: relative;
    background-image: image-set(url("../../images/promo-tablet@1x.webp") type("image/webp") 1x, url("../../images/promo-tablet@2x.webp") type("image/webp") 2x, url("../../images/promo-tablet@1x.png") type("image/png") 1x, url("../../images/promo-tablet@2x.png") type("image/png") 2x);
  }

  .promo__container {
    min-height: 200px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 77px;
      transform: translate(0, -50%);
      width: 78px;
      height: 80px;
      background-image: url("../../images/icons/stack.svg#icon_gift");
    }
  }

  .promo__block {
    position: absolute;
    right: 125px;
    top: 71px;
    width: 161px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrap {
    padding: 0;
    margin: 0;
    min-width: 0;

    position: relative;
    background-image: image-set(url("../../images/promo-desktop@1x.webp") type("image/webp") 1x, url("../../images/promo-desktop@2x.webp") type("image/webp") 2x, url("../../images/promo-desktop@1x.png") type("image/png") 1x, url("../../images/promo-desktop@2x.png") type("image/png") 2x);
    background-size: 245px 288px;
    background-position: 0 0;
    margin-bottom: 0;
  }

  .promo__container {
    min-height: 288px;
    width: 245px;

    &::before {
      content: "";
      position: absolute;
      top: 56px;
      left: 50%;
      transform: translateX(-50%);
      width: 78px;
      height: 80px;
      background-image: url("../../images/icons/stack.svg#icon_gift");
    }
  }

  .promo__block {
    right: 42px;
    top: 185px;
    text-align: center;
  }
}

