.social {
  display: flex;
  justify-content: center;
  border-top: 1px solid $border-offer-color;
  border-bottom: 1px solid $border-offer-color;
  width: 100%;
  margin-bottom: 20px;
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 132px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.social__item {
  path {
    transition: all 0.5s ease;
  }

  a:hover {
    path {
      fill: $accent-color;
      transition: all 0.5s ease;
    }
  }

  a:active {
    opacity: 0.3;
    transition: all 0s;
  }
}

@media (min-width: $tablet-width) {
  .social {
    border-top: none;
    border-bottom: none;
    width: 132px;
    margin-bottom: 0;
  }

  .social__list {
    gap: 0;
    width: 132px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .social__item a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
